<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <nav>
        <ul id="linkList">
            <li>
                <a th:unless="${sessions.isEmpty()}" th:href="@{/index/{playerId}(playerId=${player.playerId})}" href="index.html">Index</a>
                <a th:if="${sessions.isEmpty()}" th:href="@{/index}" href="index.html">Index</a>
            </li>
            <li>
                <a th:unless="${sessions.isEmpty()}" th:href="@{/register/{playerId}(playerId=${player.playerId})}" href="register.html">Register</a>
                <a th:if="${sessions.isEmpty()}" th:href="@{/register}" href="register.html">Register</a>
            </li>
            <li th:unless="${sessions.isEmpty()}">
                <a th:unless="${player.admin}" th:href="@{/users/{playerId}(playerId=${player.playerId})}" href="users.html">User</a>
                <a th:if="${player.admin}" th:href="@{/users/admin}" href="users.html">Admin</a>
            </li>
        </ul>
        <form th:action="@{/logout/{playerId}(playerId=${player.playerId})}" class="form-inline" method="post">
            <div th:unless="${sessions.isEmpty()}" class="loginLogout">
                <button class="btn btn-outline-info" type="submit" value="Logout" id="logoutButton">Logout</button>
            </div>
            <div th:if="${sessions.isEmpty()}" class="loginLogout">
                <a class="btn btn-success" th:href="@{/login}" id="loginButton">Login</a>
            </div>
        </form>
    </nav>
    <section class="main-window">

    </section>
</body>
</html>